<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="container">
    <svg width="238" height="239" viewBox="0 0 238 239" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_6_40)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M59.5 79.8333C59.5 64.0529 65.7687 48.9189 76.9272 37.7605C88.0856 26.6021 103.22 20.3333 119 20.3333C134.78 20.3333 149.914 26.6021 161.073 37.7605C172.231 48.9189 178.5 64.0529 178.5 79.8333H188.417C193.677 79.8333 198.721 81.9229 202.441 85.6424C206.16 89.3618 208.25 94.4065 208.25 99.6667V198.833C208.25 204.093 206.16 209.138 202.441 212.858C198.721 216.577 193.677 218.667 188.417 218.667H49.5833C44.3232 218.667 39.2785 216.577 35.559 212.858C31.8396 209.138 29.75 204.093 29.75 198.833V99.6667C29.75 94.4065 31.8396 89.3618 35.559 85.6424C39.2785 81.9229 44.3232 79.8333 49.5833 79.8333H59.5ZM119 40.1667C129.52 40.1667 139.61 44.3458 147.049 51.7848C154.488 59.2237 158.667 69.3131 158.667 79.8333H79.3333C79.3333 69.3131 83.5125 59.2237 90.9514 51.7848C98.3904 44.3458 108.48 40.1667 119 40.1667ZM138.833 139.333C138.833 142.815 137.917 146.235 136.176 149.25C134.435 152.265 131.932 154.768 128.917 156.509V169.083C128.917 171.713 127.872 174.236 126.012 176.095C124.152 177.955 121.63 179 119 179C116.37 179 113.848 177.955 111.988 176.095C110.128 174.236 109.083 171.713 109.083 169.083V156.509C105.303 154.326 102.348 150.956 100.677 146.923C99.0064 142.889 98.7134 138.417 99.8434 134.2C100.973 129.983 103.463 126.257 106.927 123.599C110.39 120.941 114.634 119.5 119 119.5C124.26 119.5 129.305 121.59 133.024 125.309C136.744 129.029 138.833 134.073 138.833 139.333Z" fill="#FF0F00"/>
</g>
<defs>
<clipPath id="clip0_6_40">
<rect width="238" height="238" fill="white" transform="translate(0 0.5)"/>
</clipPath>
</defs>
</svg>      <p style="font-weight: 300;margin-top: 0px"><%= email %></p>
      <div class="sign-out-bg">
        <a href="logto/sign-out" class="sign-out-text">Sign out</a>
      </div>
      <p>Access Denied. You are not currently authorized.</p>
      <div class="img_container">
        <img width="64px" style="border-radius:17px" src="./img/dcode.png" alt="">
        <img width="64px" style="border-radius:17px" src="./img/au_truelab_entrance.png" alt="">
      </div>
    </div>
  </body>
</html>
