<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container">
    <svg width="238" height="239" viewBox="0 0 238 239" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_12_2)">
        <rect width="238" height="238" transform="translate(0 0.5)" fill="#111111" />
        <path
          d="M39.6667 40.1667H99.1667V99.6667H39.6667V40.1667ZM198.333 40.1667V99.6667H138.833V40.1667H198.333ZM138.833 149.25H158.667V129.417H138.833V109.583H158.667V129.417H178.5V109.583H198.333V129.417H178.5V149.25H198.333V179H178.5V198.833H158.667V179H128.917V198.833H109.083V159.167H138.833V149.25ZM158.667 149.25V179H178.5V149.25H158.667ZM39.6667 198.833V139.333H99.1667V198.833H39.6667ZM59.5 60V79.8333H79.3333V60H59.5ZM158.667 60V79.8333H178.5V60H158.667ZM59.5 159.167V179H79.3333V159.167H59.5ZM39.6667 109.583H59.5V129.417H39.6667V109.583ZM89.25 109.583H128.917V149.25H109.083V129.417H89.25V109.583ZM109.083 60H128.917V99.6667H109.083V60ZM19.8333 20.3333V60H0V20.3333C0 15.0732 2.08958 10.0285 5.80905 6.30905C9.52852 2.58958 14.5732 0.5 19.8333 0.5L59.5 0.5V20.3333H19.8333ZM218.167 0.5C223.427 0.5 228.471 2.58958 232.191 6.30905C235.91 10.0285 238 15.0732 238 20.3333V60H218.167V20.3333H178.5V0.5H218.167ZM19.8333 179V218.667H59.5V238.5H19.8333C14.5732 238.5 9.52852 236.41 5.80905 232.691C2.08958 228.971 0 223.927 0 218.667V179H19.8333ZM218.167 218.667V179H238V218.667C238 223.927 235.91 228.971 232.191 232.691C228.471 236.41 223.427 238.5 218.167 238.5H178.5V218.667H218.167Z"
          fill="white" />
      </g>
      <defs>
        <clipPath id="clip0_12_2">
          <rect width="238" height="238" fill="white" transform="translate(0 0.5)" />
        </clipPath>
      </defs>
    </svg>
    <p>Please scan the QR code on the machine to continue.</p>
    <div class="img_container">
      <img width="64px" style="border-radius:17px" src="./img/dcode.png" alt="">
      <img width="64px" style="border-radius:17px" src="./img/au_truelab_entrance.png" alt="">
    </div>
  </div>
</body>

</html>
