<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container">
    <svg width="238" height="239" viewBox="0 0 238 239" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_6_23)">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M119 20.3333C129.819 20.3333 139.994 23.229 148.75 28.3063C149.935 28.9263 150.983 29.7795 151.829 30.8148C152.676 31.85 153.305 33.0459 153.677 34.3303C154.05 35.6148 154.159 36.9614 153.998 38.2891C153.836 39.6168 153.408 40.8981 152.739 42.0561C152.07 43.214 151.173 44.2246 150.103 45.027C149.033 45.8294 147.812 46.4071 146.513 46.7253C145.214 47.0435 143.864 47.0956 142.544 46.8785C141.224 46.6614 139.962 46.1797 138.833 45.4622C132.802 41.9799 125.96 40.147 118.995 40.1478C112.031 40.1487 105.189 41.9832 99.1585 45.4669C93.1279 48.9506 88.1207 53.9607 84.6406 59.9934C81.1605 66.0261 79.33 72.8688 79.3333 79.8333L188.417 79.8433C193.677 79.8433 198.721 81.9328 202.441 85.6523C206.16 89.3718 208.25 94.4165 208.25 99.6766V198.843C208.25 204.103 206.16 209.148 202.441 212.868C198.721 216.587 193.677 218.677 188.417 218.677H49.5833C44.3232 218.677 39.2785 216.587 35.559 212.868C31.8396 209.148 29.75 204.103 29.75 198.843V99.6667C29.75 94.4065 31.8396 89.3619 35.559 85.6424C39.2785 81.9229 44.3232 79.8333 49.5833 79.8333H59.5C59.5 64.0529 65.7687 48.9189 76.9272 37.7605C88.0856 26.6021 103.22 20.3333 119 20.3333ZM119 119.5C114.634 119.5 110.39 120.941 106.927 123.599C103.463 126.257 100.973 129.983 99.8434 134.2C98.7134 138.417 99.0064 142.889 100.677 146.923C102.348 150.956 105.303 154.326 109.083 156.509V169.083C109.083 171.713 110.128 174.236 111.988 176.095C113.848 177.955 116.37 179 119 179C121.63 179 124.152 177.955 126.012 176.095C127.872 174.236 128.917 171.713 128.917 169.083V156.509C132.697 154.326 135.652 150.956 137.323 146.923C138.994 142.889 139.287 138.417 138.157 134.2C137.027 129.983 134.537 126.257 131.073 123.599C127.61 120.941 123.366 119.5 119 119.5ZM197.52 50.2916L207.1 52.8699C209.542 53.6345 211.594 55.3139 212.827 57.5568C214.06 59.7997 214.378 62.4324 213.715 64.9043C213.051 67.3762 211.458 69.4959 209.268 70.82C207.077 72.1442 204.46 72.5702 201.963 72.0091L192.393 69.4506C189.864 68.761 187.71 67.0975 186.403 64.8241C185.097 62.5508 184.744 59.8525 185.422 57.3195C186.1 54.7866 187.753 52.6252 190.02 51.3082C192.287 49.9911 194.984 49.6256 197.52 50.2916ZM184.777 21.2258C186.035 21.563 187.215 22.1447 188.248 22.9377C189.281 23.7307 190.148 24.7194 190.799 25.8475C191.45 26.9756 191.873 28.2209 192.042 29.5122C192.212 30.8036 192.126 32.1157 191.788 33.3737L190.509 38.1536C190.177 39.4169 189.599 40.6023 188.808 41.6415C188.017 42.6808 187.028 43.5536 185.899 44.2097C184.769 44.8658 183.521 45.2923 182.227 45.4647C180.932 45.6371 179.616 45.552 178.354 45.2144C177.092 44.8768 175.91 44.2932 174.874 43.4972C173.839 42.7011 172.97 41.7084 172.32 40.5759C171.669 39.4434 171.248 38.1935 171.082 36.898C170.915 35.6025 171.007 34.2868 171.35 33.0267L172.639 28.2369C173.32 25.6983 174.981 23.5339 177.257 22.2193C179.533 20.9046 182.238 20.5473 184.777 21.2258Z"
          fill="#75F94C" />
      </g>
      <defs>
        <clipPath id="clip0_6_23">
          <rect width="238" height="238" fill="white" transform="translate(0 0.5)" />
        </clipPath>
      </defs>
    </svg>
    <p style="font-weight: 300;margin-top: 0px">
      <%= email %>
    </p>
    <div class="sign-out-bg">
      <a href="logto/sign-out" class="sign-out-text">Sign out</a>
    </div>
    <p>Your credentials have been verified. Welcome!</p>
    <div class="img_container">
      <img width="64px" style="border-radius:17px" src="./img/dcode.png" alt="">
      <img width="64px" style="border-radius:17px" src="./img/au_truelab_entrance.png" alt="">
    </div>
  </div>
</body>

</html>
